<!DOCTYPE html>{% load staticfiles %}
<html>

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ganesh shastri</title>
  <meta name="description" content="">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles1.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/buttons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/semantic.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/semantic-ui-icon/icon.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/semantic-ui-button/button.css' %}">
   <script type="text/javascript" src="{% static 'js/semantic.js' %}"></script>

</head>
  <body class="red">
  <div class="container">
  <div class="row">
  <div class="col-md-12 text-center top-50">
  <p class="title" style="color:#00001a;">Ganesh shastri</p>

  </div>

  </div>
<br>
<div class="six ui grey buttons hidden-xs">
  <a class="ui right labeled icon button" href="{% url 'website:about' %}"><i class="announcement icon"></i>
  <span class="navfont">About</span>
  </a>
  <a class="ui right labeled icon button" href="mailto:ganesh.s.shastri@gmail.com"><i class="archive icon"></i><span class="navfont">Email</span></a>
  <a class="ui right labeled icon button" href="https://github.com/shastri17" target="_blank"><i class="github icon"></i><span class="navfont">Github</span></a>
  <a class="ui right labeled icon button" href="{% static 'doc/resume.doc'%}"><i class="copy icon"></i><span class="navfont">Resume</span></a>
  <a class="ui right labeled icon button" href="/"><i class="write icon"></i><span class="navfont">Blog</span></a>
  <a class="ui right labeled icon button" href="{% url 'website:projects' %}"><i class="laptop icon"></i><span class="navfont">Projects</span></a>
</div>
<div class="text-center">

<div class="3 ui buttons visible-xs">
  <a class="ui button" href="{% url 'website:about' %}"><span class="navfont">About</span></a>
  <a class="ui button" href="/"><span class="navfont">Blog</span></a>
  <a class="ui button" href="/"><span class="navfont">Projects</span></a>
</div>
</div>
   <hr class="subline"/>
    <div class="maintext top-30">

        <p >Welcome to my personal website.<br>
        This website will give you the details of projects that i have done.<br>
        You can read my blogs.
        </p>


        <div class="text-center top-60">
          <p>Latest Posts</p>
          <hr class="postline"/>
         <!-- <p class="text-left">2016:</p>

        <p id="timeline" class="text-muted">July</p>
-->
    <ul class="timeline">
        <li>
         <div class="timeline-badge"><i class="wizard icon"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h3 class="timeline-title">Workshop</h3>
            </div>
            <div class="timeline-body">
              <p class="timeline-text">My experiences with workshop as a speaker.</p>
              <br>
           <a class="ui right labeled icon button" href="{%static 'doc/chaitanya.docx' %}">
  <i class="right arrow icon"></i>
  document
</a>
            </div>
          </div>
        </li>

    </ul>

<!--
        <p id="timeline" class="text-muted">June</p>

    <ul class="timeline">
        <li class="timeline-inverted">
          <div class="timeline-badge"><i class="wizard icon"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h3 class="timeline-title">First Blog post</h3>
            </div>
            <div class="timeline-body">
              <p class="timeline-text">About this blog and it's inception. Do read on for more info about me.</p>
              <br>
           <a class="ui right labeled icon button" href="/firstpost">
  <i class="right arrow icon"></i>
  Read
</a>
            </div>
          </div>
        </li>
    </ul>
        </div>
    </div>
-->
<hr class="subline"/>
  </div>
  <footer>
  <div class="text-center">

    <p class="footertext" style="color:#757575;">Template credit: Harsha Vamsi</p>
  </div>
  </footer>


  <script src="js/insta.js" data-no-instant></script>
  <script data-no-instant>InstantClick.init();</script>

  </body>

</html>
